
  .org-chart-container {
    flex: 1; 
    display: flex; 
    align-items: flex-start; 
    max-width: 800px;
    margin: 0 auto;
  }
  
  .org-chart-node {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
  }
  

  
  .org-chart-node:hover {
    background-color: #b0b0b0;
    cursor: pointer;
  } 


  
  .org-chart-node::before {
    content: '';
    position: absolute;
    top: 0;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) rotate(-45deg);
  }
  
  .org-chart-children::before {
    content: '';
    position: absolute;
    top: 0;
    
    border-left: 1px solid #ccc;
    height: 100%;
    transform: translateX(-50%);
  }

.org-chart-page {
    display: flex;
  }
  
  .org-chart-data {
    flex: 1;
    
  }
  

    
    .org-chart-data ul li {
    cursor: pointer;
  }
  
  .org-chart-data ul li:hover,
  .org-chart-data ul li.selected {
    background-color: #8dccad;
  }
  
  .container .rectangle.selected {
    background-color: #8dccad;
  }
 
  /* Add this CSS */
.org-chart-page {
  display: flex;
}

.org-chart-data {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  max-width: 20%;
  box-sizing: border-box;
}

 
  
  